<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand clickable" (click)="navigationToHome()">Livraria</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" (click)="navigationToHome()">
          <a class="nav-link clickable">Início</a>
        </li>
        <li class="nav-item" (click)="navigationToUsers()">
          <a class="nav-link clickable">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable">Meu Carrinho</a>
        </li>
      </ul>
    </div>
</nav>-->

<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example home icon" (click)="navigationToHome()">
      <mat-icon>menu_book</mat-icon>
    </button>
    <span id="inicio">Livros</span>
    <button mat-icon-button class="example-icon" aria-label="Example users icon" (click)="navigationToUsers()">
      <mat-icon>supervisor_account</mat-icon>
    </button>
    <span>Usuários</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example shoppingcart icon" (click)="navigationToCart()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <span>Meu Carrinho</span>
  </mat-toolbar>
</p>