div.inner-component {
    margin-top: 25px;
}

.clickable {
    cursor: pointer;
}

.botaoAcao{
    width: 50%;
}
.mat-form-field-infix {
    color: white;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
