<div class="container example-container">
    <h3>Cadastrar Usuário</h3>    
    
        <mat-form-field appearance="fill" class="inputs">
            <mat-label>Nome</mat-label>
            <input matInput name="nome" id="nome" [(ngModel)] = "user.nome" required>
        </mat-form-field><br>

        <mat-form-field appearance="fill" class="inputs">
            <mat-label>Email</mat-label>
            <input matInput name="email" id="email" [(ngModel)] = "user.email" required>
        </mat-form-field><br>

        <mat-form-field appearance="fill" class="inputs">
            <mat-label>CPF</mat-label>
            <input matInput name="cpf" id="cpf" [(ngModel)] = "user.cpf" required>
        </mat-form-field><br>

        <mat-form-field appearance="fill" class="inputs">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput name="dataNascimento" type="date" id="dataNascimento" [(ngModel)] = "user.dataNascimento" required>
        </mat-form-field><br>

        <button class="float-left mb-3" (click) = "createUser()" mat-raised-button color="primary">
            Cadastrar 
        </button>    
</div>

<!-- <div class="inner-component">
    <h3>Cadastrar usuário</h3>

    <form (submit)="createUser()">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="nome" [(ngModel)] = "user.nome" required>
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" name="email" id="email" [(ngModel)] = "user.email" required>
        </div>

        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" name="cpf" id="cpf" [(ngModel)] = "user.cpf" required>
        </div>

        <div class="form-group">
            <label for="dataNascimento">Data de nascimento</label>
            <input type="date" class="form-control" name="dataNascimento" id="dataNascimento" [(ngModel)] = "user.dataNascimento" required>
        </div>

        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
</div>
 -->
