<div class="inner-component">
    <h1>Usuários</h1>

    <button class="btn btn-primary float-right mb-3" (click)="navigateToCreateUser()">
        Cadastrar Usuário
    </button>

    <table class="table table-striped">
        <tr class="bg-primary text-light">
            <th>Nome</th>
            <th>Email</th>
            <th>Cpf</th>
            <th>Data de Nascimento</th>
            <th></th>
        </tr>
        <tr *ngFor="let usuario of usuarios">
           <td>{{ usuario.nome}}</td>
           <td>{{ usuario.email}}</td>
           <td>{{ usuario.cpf}}</td>
           <td>{{ usuario.dataNascimento | date: "dd/MM/yyyy"}}</td>
            <td>
                <a routerLink="/user/edit/{{usuario._id}}">✏</a>
                <a (click)="deleteUser(usuario._id)" class="clickable">❌</a>
            </td>
        </tr>
    </table>
</div>